<div class="billboard w-100">
    <div class="billboard_wrap">
        <div class="billboard_backdrop">
            <div class="billboard_backdrop_img">
                <img src="./src/assets/img/banner.webp" id="banner" alt="">
            </div>
            <div class="billboard_backdrop_video">
                <video src="./src/assets/img/Marvel Studios’ Guardians of the Galaxy Vol. 3 - Official Trailer.mp4"
                    muted id="banner-video" poster="./src/assets/img/banner.webp"></video>
            </div>
        </div>
        <div class="billboard_overlay"></div>
        <div class="billboard_content row">
            <div class="billboard_content_main col-4">
                <img src="./src/assets/img/galaxy-logo.png" class="w-100 " alt="logo-film">
                <div class="billboard_content_main_infor fs-8 d-none d-md-block  d-lg-block ">
                    <span>5-5-2023</span>
                    <span>2 tiếng 30 phút</span>
                </div>
                <div class="billboard_content_main_description fs-8 d-none d-md-block  d-lg-block ">
                    Tiếp tục cuộc hành trình sau khi chia tay Thor, liệu điều gì xảy xa tiếp đến với đội vệ
                    binh...
                </div>
                <div class="billboard_content_main_btn mt-md-3">
                    <div class="btn_play btn btn-danger btn-billboard rounded-circle " id="btn-play">
                        <i class="fa-solid fa-play"></i>
                    </div>
                    <div class="btn_bookmark btn btn-billboard ms-3 btn-light rounded-circle ">
                        <i class="fa-regular fa-bookmark icon-bookmark">
                            <i class="fa-solid fa-plus icon-bookmark-plus ">
                            </i>
                        </i>
                    </div>
                </div>
            </div>
            <div class="billboard_content_control col-1 ">
                <div class="billboard_content_control_btn btn btn-reload btn-dark rounded-circle ">
                    <i class="fa-solid fa-volume-high "></i>
                    <i class="fa-solid fa-volume-xmark active "></i>
                    <i class="fa-solid fa-rotate-right "></i>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid position-relative container-slides pb-5">
    <div class="container mx-auto ">
        <section class="mb-3" ng-repeat="slide in movieLists">
            <h4 class="text-light ">{{ slide.title }}</h4>
            <div id="carousel-{{$index + 1}}" class="carousel carousel-main">
                <button class="carousel_btn-prev">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button class="carousel_btn-next">
                    <i class="fas fa-chevron-right"></i>
                </button>
                <div class="carousel-wrap overflow-hidden ">
                    <div class="carousel-move row standard" ng-if="$index !== 2 && $index !== 4">
                        <div class="carousel_item carousel_item-standard col-lg-2 col-md-3 col-sm-4 col-4 text-light position-relative "
                            ng-repeat="movie in slide.movies" data-id="{{movie.id}}">
                            <div class="carousel_item-images position-relative ">
                                <div class="carousel_img-min position-relative fs-8">
                                    <img ng-src="./src/assets/img/{{movie.imgMin}}" class="img-fluid rounded " alt="">
                                    <div class="carousel_img-min-overlay carousel_img-overlay">
                                        <span>{{movie.update}}</span>
                                    </div>
                                </div>
                                <div class="carousel_img-max d-lg-block ">
                                    <img ng-src="./src/assets/img/{{movie.imgMax}}" class="img-fluid rounded w-100 "
                                        alt="">
                                    <div class="carousel_img-max-overlay carousel_img-overlay">
                                        <div class="col-7 col-xl-9">
                                            <span><span>Thể loại:</span> {{movie.category}}</span>
                                        </div>
                                        <div class="card-img-overlay-btn col-6 col-xl-4">
                                            <div class="btn_play btn btn-danger btn-img-rank rounded-circle ">
                                                <i class="fa-solid fa-play"></i>
                                            </div>
                                            <div class="btn-bookmark btn ms-3 btn-light rounded-circle "
                                                ng-click="addBookmark($event, movie.id)">
                                                <i class="fa-regular fa-bookmark icon-bookmark">
                                                    <i class="fa-solid fa-plus icon-bookmark-plus ">
                                                    </i>
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel_item-title">
                                <p>{{movie.name}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="container banner-vip" ng-if="$index == 3"
                        style="background: url(./src/assets/img/banner-vip.jpg) center center / cover no-repeat;"
                        data-bs-toggle="modal" data-bs-target="#exampleModal"></div>
                    <!-- slide index-2 -->
                    <div class="carousel-move row" ng-if="$index == 2">
                        <div class="carousel_item item-rank col-lg-3 col-md-4 col-sm-6 col-6 text-light position-relative "
                            ng-repeat="movie in slide.movies" data-id="{{movie.id}}">
                            <div class="card-img position-relative ">
                                <img ng-src="./src/assets/img/{{movie.imgMax}}" class="card-img-top" height="166px">
                                <div class="card-img-overlay p-1 d-flex justify-content-end align-items-end ">
                                    <div class="card-img-overlay-btn">
                                        <div class="btn_play btn btn-danger btn-img-rank rounded-circle ">
                                            <i class="fa-solid fa-play"></i>
                                        </div>
                                        <div class="btn-bookmark btn ms-3 btn-light rounded-circle ">
                                            <i class="fa-regular fa-bookmark icon-bookmark">
                                                <i class="fa-solid fa-plus icon-bookmark-plus ">
                                                </i>
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-1 d-flex align-items-center rounded "
                                style="background-color: rgb(33, 35, 43);">
                                <img ng-src="./src/assets/img/rank-number{{$index+1}}.png" class="rank-img" alt="">
                                <div class="text-hot">
                                    <div class="card-title">{{movie.name}}</div>
                                    <p class="text-main">{{movie.update}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- slide index-4 -->
                    <div class="carousel-move row" ng-if="$index == 4">
                        <div class="carousel_item col-lg-2 col-md-3 col-sm-4 col-6 text-light position-relative p-0"
                            ng-repeat="movie in slide.movies" data-id="{{movie.id}}">
                            <div class="item-box w-100 coming-soon-box">
                                <div class="coming-soon-top pb-4">
                                    <div class="position-relative mt-4 mb-2">
                                        <div class="progress" style="height: 2px;background-color: rgb(45, 47, 52);">
                                        </div>
                                        <button type="button"
                                            class="position-absolute top-0 start-50 translate-middle btn btn-sm rounded-pill"
                                            style="width: 1rem; height:1rem; background-color: rgb(130, 131, 135);">
                                        </button>
                                    </div>
                                    <div class="item-date-coming-soon d-flex flex-column align-items-center text-main">
                                        <p class="fs-8 m-0">26-03</p>
                                        <p class="fs-8 m-0">Thứ Ba</p>
                                    </div>
                                </div>
                                <div class="coming-soon-bottom mx-2">
                                    <div class="item-image position-relative h-75">
                                        <img ng-src="./src/assets/img/{{movie.imgMin}}" style="height: 236px;"
                                            class="d-block rounded w-100">
                                        <div class="card-img-overlay p-1 d-flex justify-content-end align-items-end ">
                                            <div class="card-img-overlay-btn">
                                                <div class="btn_play btn btn-danger btn-img-rank rounded-circle ">
                                                    <i class="fa-solid fa-play"></i>
                                                </div>
                                                <div class="btn-bookmark btn ms-3 btn-light rounded-circle ">
                                                    <i class="fa-regular fa-bookmark icon-bookmark">
                                                        <i class="fa-solid fa-plus icon-bookmark-plus ">
                                                        </i>
                                                    </i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-title pt-3 pb-1 ">{{movie.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
</div>
</div>
<!-- Modal VIp -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " style="max-width: 94%; width: 905px;">
        <div class="modal-content p-3" style="background-color: #f6f6f6;">
            <div class="d-flex justify-content-end ">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-header d-block text-center " style="border: none;">
                <h4 class="modal-title fw-bold " id="exampleModalLabel">Vui lòng chọn gói phù hợp với bạn</h4>
                <h6 class="text-main">Xem và thưởng thức FptFilm không giới hạn</h6>
            </div>
            <div class="modal-body row fs-8 ">
                <div class="col-12 col-sm-6 col-xl-4 p-4">
                    <div class="modal_package active">
                        <h5 class="fw-bold fs-6">Tiêu chuẩn</h5>
                        <h5 class="fw-bold fs-6  ">Gói gia hạn tháng</h5>
                        <div class="modal_package-price">
                            <span class="fs-3 fw-bold ">19000 đ</span>
                            <del>39000 đ</del>
                        </div>
                        <div class="modal_package-detail">
                            Sau khi khuyến mãi kết thúc tiếp tục gia hạn với 39000,đ.<br> Tự động gia hạn 1
                            tháng khi hết hạn. Hủy bỏ bất cứ lúc nào.
                        </div>
                        <div class="modal_package-privilege">
                            <p>
                                <i class="fas fa-check"></i> 2 thiết bị
                            </p>
                            <p>
                                <i class="fas fa-check"></i> Blu-ray 1080P
                            </p>
                            <p>
                                <i class="fas fa-check"></i> Nội dung độc quyền
                            </p>
                            <p>
                                <i class="fas fa-check"></i> Tải về nội dung thành viên
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-4 p-4">
                    <div class="modal_package">
                        <h5 class="fw-bold fs-6 ">Tiêu chuẩn</h5>
                        <h5 class="fw-bold fs-6 ">Gói gia hạn theo quý</h5>
                        <div class="modal_package-price">
                            <span class="fs-3 fw-bold ">10900 đ</span>
                            <span></span>
                        </div>
                        <div class="modal_package-detail">
                            Lần sau tiếp tục gia hạn với 109000 đ.<br> Tự động gia hạn 3 tháng khi hết hạn. Hủy
                            bỏ bất cứ lúc nào.
                        </div>
                        <div class="modal_package-privilege">
                            <p>
                                <i class="fas fa-check"></i> 2 thiết bị
                            </p>
                            <p>
                                <i class="fas fa-check"></i> Blu-ray 1080P
                            </p>
                            <p>
                                <i class="fas fa-check"></i> Nội dung độc quyền
                            </p>
                            <p>
                                <i class="fas fa-check"></i> Tải về nội dung thành viên
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-4 p-4">
                    <div class="modal_package">
                        <h5 class="fw-bold fs-6 ">Tiêu chuẩn</h5>
                        <h5 class="fw-bold fs-6 ">Gói gia hạn năm</h5>
                        <div class="modal_package-price">
                            <span class="fs-3 fw-bold ">399000 đ</span>
                            <span></span>
                        </div>
                        <div class="modal_package-detail">
                            Lần sau tiếp tục gia hạn với 390000 đ. <br> Tự động gia hạn 12 tháng khi hết hạn.
                            Hủy bỏ bất cứ lúc nào.
                        </div>
                        <div class="modal_package-privilege">
                            <p>
                                <i class="fas fa-check"></i> 2 thiết bị
                            </p>
                            <p>
                                <i class="fas fa-check"></i> Blu-ray 1080P
                            </p>
                            <p>
                                <i class="fas fa-check"></i> Nội dung độc quyền
                            </p>
                            <p>
                                <i class="fas fa-check"></i> Tải về nội dung thành viên
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="modal-footer w-100 d-flex justify-content-center">
                    <button type="button" class="btn w-50" style="background-color: rgb(242, 191, 131);">Bắt đầu
                        dùng thử</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>