<div class="footer bg-black text-light fs-8" ng-if="isShow">
    <div class="footer-wrapper container pt-3">
        <div class="footer-top row my-2 align-items-center  justify-content-between ">
            <div class="footer-top-langue col-5">
                <button type="button" class="btn btn-outline-light ">Tiếng Việt</button>
            </div>
            <div class="footer-top-icon col-2 p-0 d-flex justify-content-end ">
                <a href="" class="btn text-light fs-4"><i class="fa-brands fa-facebook"></i></a>
                <a href="" class="btn text-light fs-4"><i class="fa-brands fa-instagram"></i></a>
                <a href="" class="btn text-light fs-4"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
        <div class="footer-middle row py-2">
            <div class="col">
                <ul class="nav flex-column ">
                    <li class="nav-item py-2">
                        <h6>Giới thiệu về chúng tôi</h6>
                    </li>
                    <li class="nav-item py-2"><a href="">Thông tin về công ty</a></li>
                    <li class="nav-item py-2"> <a href=""> Giới thiệu dịch vụ sản phẩm</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="nav flex-column ">
                    <li class="nav-item py-2">
                        <h6>Hợp tác</h6>
                    </li>
                    <li class="nav-item py-2"> <a href=""> Đăng quảng cáo</a></li>
                    <li class="nav-item py-2"> <a href=""> Quan hệ kinh doanh</a></li>
                    <li class="nav-item py-2"> <a href="">Hợp tác cài đặt trước</a> </li>
                </ul>
            </div>
            <div class="col">
                <ul class="nav flex-column ">
                    <li class="nav-item py-2">
                        <h6>Hỗ trợ và giúp đỡ</h6>
                    </li>
                    <li class="nav-item py-2"> <a href=""> Phản ảnh ý kiến</a></li>
                    <li class="nav-item py-2"> <a href=""> Trung tâm phản hồi bảo mật</a></li>
                    <li class="nav-item py-2"> <a href=""> Câu hỏi thường gặp</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="nav flex-column ">
                    <li class="nav-item py-2">
                        <h6>Điều khoản dịch vụ</h6>
                    </li>
                    <li class="nav-item py-2"> <a href=""> Điều khoản quyền riêng tư</a></li>
                    <li class="nav-item py-2"> <a href=""> Điều khoản sử dụng</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom row row-cols-1 align-items-center gap-3 ">
            <div class="footer-bottom-app col d-flex justify-content-center  ">
                <a href="" class="me-3">
                    <img src="./src/assets/img/Apple.png" width="136px" alt="">
                </a>
                <a href="">
                    <img src="./src/assets/img/Google.png" width="136px" alt="">
                </a>
            </div>
            <div class="footer-bottom-infor col d-flex flex-column align-items-center ">
                <div class="footer-bottom-infor-img w-25 text-center mb-2 py-1">
                    <a href=""><img src="./src/assets/img/logo-fpt-polytechnic-inkythuatso-09-12-57-46.jpg"
                            width="48px" alt=""></a>
                </div>
                <span>Tìm kiếm trong cửa hàng ứng dụng dành cho thiết bị di động</span>
            </div>
            <div class="footer-bottom-copyright col d-flex flex-column justify-content-center">
                <p class="text-center text-main col-8 col-md-12 mx-auto ">Chúng tôi sử dụng Cookies để cải thiện trải nghiệm sử dụng của
                    bạn. Nếu bạn tiếp tục sử dụng
                    trang web của chúng tôi, có nghĩa là bạn đồng ý chúng tôi sử dụng Cookies.Đọc <a href=""
                        class="text-light ">Chính sách quyền riêng tư FptFilm</a>
                </p>
                <p class="text-center text-main">Copyright © 2024 fptFilm All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>