<button id="showModal" hidden data-bs-toggle="modal" data-bs-target="#modal-detail"></button>

<div class="modal fade" id="modal-detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 94%; width: calc(100% - 100px);">
        <div class="modal-content">
            <div class="modal-header" style="border: none;">
                <button type="button" class="btn-close btn-close-white" id="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body text-light pb-5">

            </div>
        </div>
    </div>
</div>